@charset "UTF-8";

* {
    border: 0;
    margin: 0;
}

.faixasuperior {
    text-align: center;
    padding: 20px;
}

li > a {
    padding: 0px 30px 0px 30px;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}

li > .nome {
    font-size: 1.4em;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.imgprincipal {
    background-color: white;
    background-image: url(imagens/principal.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100vw;
    height: 500px;
}

.imgprincipal > h1 {
    text-align: left;
    padding: 130px 0px 0px 90px;
    font-size: 70px;
}

.cabecalhoitens {
    text-align: center;
    margin-top: 90px;
}

.itens {
    display: flex;
    margin-top: 50px;
    width: 80vh;
}

.itens > a {
    background-color: lightblue;
    box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.164);
    display: flex;
    position: relative;
    background-position: center center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    min-width: 120px;
    min-height: 260px;
    padding: 50px;
    margin: 0px 20px 0px 20px;
    transition: 1s;
}

.itens > a > h1 {
    background-color: rgb(139, 207, 230);
    color: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px 0px 15px 0px;
    text-align: center;
    transition: 0.3s;
}

#boxitem:hover {
    top: -15px;
    box-shadow: 4px 5px 11px rgba(0, 0, 0, 0.274);
    transition: 1s;
}

#boxitem:hover > h1 {
    bottom: 15px;
    transition: 0.3s;
}

/* IMAGENS ITENS */

.item1 {
    background-image: url(imagens/quadro.jpg);
}

.item2 {
    background-image: url(imagens/pisos.jpg);
}

.item3 {
    background-image: url(imagens/tintas.jpg);
}

.item4 {
    background-image: url(imagens/espelhos.jpg);
}

.item5 {
    background-image: url(imagens/loucas.jpg);
}

.item6 {
    background-image: url(imagens/luzes.webp);
}

.item7 {
    background-image: url(imagens/cortinas.avif);
}

.item8 {
    background-image: url(imagens/lustres.jpg);
}

.item9 {
    background-image: url(--);
}


