@charset "UTF-8";

:root {
    --cor-fundo: #FCFCFC;
    --cor-faixasuperior: white;
    --cor-precarregamento: rgb(139, 207, 230);
    --cor-itensh1: rgb(173, 202, 230);
    --cor-rodape: red;
    --cor-font: rgb(17, 67, 83);
    --cor-font2: black;
    --cor-font3: lightblue;
    --cor-button: rgb(17, 67, 83);
}

* {
    border: 0;
    margin: 0;
}

body {
    background-color: var(--cor-fundo);
}

.faixasuperior {
    background-color: var(--cor-faixasuperior);
    text-align: center;
    padding: 20px;
}

.faixasuperior > ul > li {
    list-style-type: none;
}

li > a {
    padding: 0px 30px 0px 30px;
    font-size: 1em;
    text-decoration: none;
    color: var(--cor-font2);
}

li > .nome {
    font-size: 1.2em;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.imgprincipal {
    background-image: url(imagens/principal-png.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 99vw;
    height: 400px;
}

.imgprincipal > h1 {
    position: absolute;
    left: 180px;
    top: 80px;
    font-size: 60px;
}

.imgprincipal > h1 > a {
    color: var(--cor-font);
    text-decoration: none;
    font-size: 80px;
}

.cabecalhoitens {
    text-align: center;
    font-size: 1.8em;
    margin-top: 60px;
}

.itens {
    position: static;
    display: flex;
    margin-top: 30px;
    width: 100%;
    overflow-x:auto;
}


.itens > a {
    background-color: var(--cor-font3);
    box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.164);
    display: flex;
    position: relative;
    background-position: center center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    min-width: 110px;
    min-height: 240px;
    padding: 50px;
    margin: 0px 20px 0px 20px;
    transition: 1s;
}

.itens > a > h1 {
    background-color: var(--cor-itensh1);
    color: var(--cor-font);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px 0px 15px 0px;
    text-align: center;
    transition: 0.3s;
}

#boxitem:hover {
    top: -15px;
    box-shadow: 4px 5px 11px rgba(0, 0, 0, 0.274);
    transition: 1s;
}

#boxitem:hover > h1 {
    bottom: 15px;
    transition: 0.3s;
}

/* ----------- IMAGENS ITENS ----------- */
.item1 {
    background-image: url(imagens/quadro.jpg);
}

.item2 {
    background-image: url(imagens/pisos.jpg);
}

.item3 {
    background-image: url(imagens/tintas.jpg);
}

.item4 {
    background-image: url(imagens/espelhos.jpg);
}

.item5 {
    background-image: url(imagens/loucas.jpg);
}

.item6 {
    background-image: url(imagens/luzes.webp);
}

.item7 {
    background-image: url(imagens/cortinas.avif);
}

.item8 {
    background-image: url(imagens/lustres.jpg);
}

.item9 {
    background-image: url(--);
}

.item9 {
    background-image: url(--);
}

.item9 {
    background-image: url(--);
}

.item9 {
    background-image: url(--);
}
/* ----------- FINAL ITENS ----------- */

.boxsecundarias {
    margin: auto;
    margin-top: 100px;
    width: 1050px;
    height: 1940px;
}

/* ----------- BOX SUPERIOR ----------- */
.boxsuperior {
    display: flex;
    position: relative;
    width: 1000px;
    height: 600px;
}

.boxsuperior > .leftbox {
    width: 500px;
    height: 600px;
}

.boxsuperior > .leftbox > h1 {
    color: var(--cor-font);
    text-align: right;
    font-size: 4em;
}

.boxsuperior > .leftbox > p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2em;
    text-align: right;
}

.boxsuperior > .leftbox > button {
    background-color: transparent;
    border: 3px solid var(--cor-button);
    color: var(--cor-button);
    font-weight: bolder;
    position: absolute;
    left: 300px;
    font-size: 1.5em;
    width: 200px;
    height: 60px;
    transition: 0.4s;
}

.boxsuperior > .leftbox > button:hover {
    cursor: pointer;
    background-color: var(--cor-button);
    color: var(--cor-fundo);
    transition: 0.4s;
}

.boxsuperior > .rightbox > img {
    object-fit: cover;
    position: absolute;
    right: -50px;
    max-width: 500px;
    height: 600px;
}

/* ----------- BOX MEIO ----------- */
.boxmeio {
    margin-top: 70px;
    display: flex;
    width: 1000px;
    height: 600px;
}

.boxmeio > .right {
    width: 500px;
    height: 600px;
}

.boxmeio > .rightbox > h1 {
    color: var(--cor-font);
    margin-left: 50px;
    font-size: 4em;
}

.boxmeio > .rightbox > p {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    font-size: 2em;
}

.boxmeio > .rightbox > button {
    background-color: transparent;
    border: 3px solid var(--cor-button);
    color: var(--cor-button);
    font-weight: bolder;
    margin-left: 50px;
    font-size: 1.5em;
    width: 200px;
    height: 60px;
    transition: 0.4s;
}

.boxmeio > .rightbox > button:hover {
    cursor: pointer;
    background-color: var(--cor-button);
    color: var(--cor-fundo);
    transition: 0.4s;
}

.boxmeio > .leftbox > img {
    object-fit: cover;
    left: -50px;
    max-width: 500px;
    height: 600px;
}

/* ----------- BOX INFERIOR ----------- */
.boxinferior {
    margin-top: 70px;
    display: flex;
    position: relative;
    width: 1000px;
    height: 600px;
}

.boxinferior > .leftbox {
    width: 500px;
    height: 600px;
}

.boxinferior > .leftbox > h1 {
    color: var(--cor-font);
    text-align: right;
    font-size: 4em;
}

.boxinferior > .leftbox > p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2em;
    text-align: right;
}

.boxinferior > .leftbox > button {
    background-color: var(--cor-fundo);
    border: 3px solid var(--cor-button);
    color: var(--cor-button);
    font-weight: bolder;
    position: absolute;
    left: 300px;
    font-size: 1.5em;
    width: 200px;
    height: 60px;
    transition: 0.4s;
}

.boxinferior > .leftbox > button:hover {
    cursor: pointer;
    background-color: var(--cor-button);
    color: var(--cor-fundo);
    transition: 0.4s;
    
}

.boxinferior > .rightbox > img {
    object-fit: cover;
    position: absolute;
    right: -50px;
    max-width: 500px;
    height: 600px;
}

/* ----------- MAIS VENDIDOS ----------- */

.boxmv > h1 {
    color: var(--cor-font);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.mvitens {
    display: flex;
    margin: auto;
    width: 1200px;
    height: 410px;
}

.mvitens > a {
    position: relative;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 200px;
    height: 410px;
}

.mvitens > a > .descrimv {
    background-color: var(--cor-fundo);
    color: var(--cor-font);
    position: absolute;
    bottom: -1px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-bottom: 25px;
    font-size: 1.3em;
    font-weight: bold;
}

.mvitens > a > .valormv {
    background-color: var(--cor-fundo);
    color: var(--cor-font2);
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 1.3em;

}

#mvbox:hover {
   bottom: 15px;
   transition: 0.4s;
}

.itensmv1 {
    background-image: url(imagens/jarromv.webp);
}

.itensmv2 {
    background-image: url(imagens/quadromv.jpg);
}

.itensmv3 {
    background-image: url(imagens/araramv.jpg);
}

.itensmv4 {
    background-image: url(imagens/centromesamv.jpg);
}

.itensmv5 {
    background-image: url(imagens/tacainvertidamv.jpg);
}

/* ----------- RODAPÉ ----------- */

.divline {
    text-align: center;
    margin-top: 50px;
}

.info {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 60vw;
    height: 400px;
}

#cnttbox {
    width: 40vh;
}

.info > div > h1 {
    color: var(--cor-font);
    text-align: center;
    margin-bottom: 40px;
}

.info > div > a {
    text-decoration: none;
    display:flex;
    color: var(--cor-font2);
    font-size: 1.3em;
    margin: 0px 0px 30px 60px;
}

.info > div > a:hover {
    text-decoration: underline;
}

.rodape {
    color: var(--cor-rodape);
    text-align: center;
}